{% load static %}

 <h1 class="cap">ABOUT US</h1>
 <div id="about"> </div>
   <div class="container">
     <div class="row mx-auto justify-content-center pb-5">
       <div class="col-10 col-md-5 gy-5 order-1 order-md-0  ">
         <h1 style="color: yellow;text-align: center;">Do Less Earn More </h1>
         <p class="truncate"> The TelosTask platform offers 4-in-1 freelancing features of Tasks. 
           Set up to achieve the possibilities of an actual "task distributions" 
           For the completion of big and small Tasks Which we refer to as micro and macro gigs 
           alongside taskdrop and Thurderclapping. 
           Welcome to the world of WorkFi perhaps... TaskFi
           Our mission to improve the freelance industry by building a robust 
           decentralized freelance marketplace of task seekers and task workers
           through the application of blockchain technology, is to solve the common 
           problems of traditional gig platforms of which might make the 
           "TelosTask application" 
           become the new freelancing financial trend of WorkFi.
         </p>
       </div>
       <div class="col-10 col-md-5 gy-4 order-0 ms-auto order-md-1">
         <img src="{% static '' %}images/destiny marshall-e2.jpg" alt="" class="img rounded-circle w-75">
       </div>
     </div>
   </div>