  {% load static %}
  <!-- corousel  -->
  <div id="carouselExampleDark" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button carousel slide data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
  <div class="carousel-inner">
    <div class="carousel-item h-100 active" data-bs-interval="1000">
      <img src="{% static '' %}images/download13.jpg"
       class="d-block w-100" alt="" style="height: 60vh;">
      <div class="carousel-caption d-md-block">
      <h1>Welcome to Telostask</h1>
      <p>Home of digitalized freelancing earning platform</p>
  </div>
  </div>
       <div class="carousel-item h-100" data-bs-interval="2000">
        <img src="{% static '' %}images/download12.jpg" class="d-block w-100" alt="..." style="height: 60vh;">
        <div class="carousel-caption d-md-block">
        <h1>Do less Earn more</h1>
        <p>Crypto-based platorm to earn rewards per macro/micro tasks. </p>
      </div>
  </div>
  <div class="carousel-item h-100" data-bs-interval="100">
        <img src="{% static '' %}images/download.jpg" class="d-block w-100" alt=""  style="height: 60vh;">
        <div class="carousel-caption d-md-block">
        <h1> TaskFi & WorkFi</h1>
        <p>The first ever Blockchain freelancing platform</p>
      </div>
  </div>
  </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
        <!-- <span class="carousel-control-prev-icon" aria-hidden="true"></span> -->
        <span class="visually-hidden">Previous</span>
        <i class="fas fa-chevron-left"></i>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
        <!-- <span class="carousel-control-next-icon" aria-hidden="true"></span> -->
        <span class="visually-hidden">Next</span>
        <i class="fas fa-chevron-right"></i>
        </button>
  </div>
                           <!-- corousel done  -->
  
                            <!-- content  -->
    <div class="bed">
                      <!-- about  -->
     