<div class="foota bg-dark mt-5">
    <!-- <div class="foot"> -->
  <div class="container text-center text-white text-capitalize">
    <div class="row justify-content-around foota1 pt-5 ">
      <div class="col-9 col-sm-6 col-md-6 col-lg-3 col-xl-3">
        <h1 class="mt-4 mb-4">voltage</h1>
        <h3 class="mt-3 mb-2">high quality classys</h3>
        <h4>show that suits you....</h4>
      </div>
      <div class="col-9 col-sm-6 col-md-6 col-lg-3 col-xl-3">
        <h1 class="mt-4 mb-4">call us</h1>
        <h4 class="mt-3 mb-2"><span><i class="fa-solid fa-mobile-screen">08025740004</i></span></h4>
        <h3><span><i class="fas fa-phone-square"></span></i>+234-01-9024845</h3>
      </div>
      <div class="col-9 col-sm-6 col-md-6 col-lg-3 col-xl-3">
        <h1 class="mt-4 mb-4">useful links</h1>
        <ul class="list-unstyled">
          <li class="mb-1"><a href="">home</a></li>
          <li class="mb-1"><a href="#">gallery</a></li>
          <li class="mb-1"><a href="#">about</a></li>
          <li class="mb-1"><a href="#">contact</a></li>
          <li class="mb-1"><a href="#">our team</a></li>
        </ul>
      </div>
      <div class="col-9 col-sm-6 col-md-6 col-lg-3 col-xl-3">
        <h1 class="mt-4 mb-4">our handles</h1>
        <ul class="list-inine">
          <li class="list-inline-item"><a href="#"><i class="fab fa-facebook"></i></a></li>
          <li class="list-inline-item"><a href="#"><i class="fab fa-twitter"></i></a></li>
          <li class="list-inline-item"><a href="#"><i class="fab fa-linkedin"></i></a></li>
          <li class="list-inline-item"><a href="#"><i class="fab fa-whatsapp"></i></a></li>
          <li class="list-inline-item"><a href="#"><i class="fab fa-instagram"></i></a></li>
        </ul>
      </div>
    </div>
    <div class="foota2 pt-5 pb-5 border-top">
      <h4 class="mb-2 text-warning">copyright 2022 &copy; | all rights reserved.</h4>
      <h5><a href="#">crafted by: Nwamama</a></h5>
    </div>
  </div>
</div>
</div>
