{% load static %}

<div class="container">
    <div class="row justify-content-center">
  <div id="Team"> </div>
      <div class="col-10 col-sm-10 col-md-4 text-success order-2 gy-5">
        <div class="card bg-transparent" style="text-align: center; border: 0%;;">
          <img src="{% static '' %}images/opt 1188.jpg" class="card-img-top rounded-circle w-50 mx-auto" >
          <div class="card-body">
            <h5 class="card-title">Ori-Ade</h5>
            <p class="card-text">Class Member.</p>
          </div>
        </div>
      </div>
      <div class="col-10 col-sm-10 col-md-4 text-success gy-5 order-1">
        <div class="card bg-transparent" style="text-align: center;">
          <img src="{% static '' %}images/opt 1188.jpg" class="card-img-top rounded-circle  w-50 mx-auto" alt="...">
          <div class="card-body">
            <h5 class="card-title">Animate</h5>
            <p class="card-text">random pics for heee momeent.</p>
          </div>
        </div>
      </div>
      <div class="col-10 col-sm-10 col-md-4 text-success gy-5 order-0">
        <div class="card bg-transparent" style="text-align:center">
          <img src="{% static '' %}images/destiny marshall-e2.jpg" class="card-img-top rounded-circle  w-50 mx-auto">
          <div class="card-body">
            <h5 class="card-title">Destiny marshall</h5>
            <p class="card-text">welcome to the pace where the sun shines in the dark.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>